<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!-- db.properties 설정 -->
	<properties resource="oracle.properties"></properties>
	<settings>
		<!-- camelcase 자동 매핑 설정 -->
		<setting name="mapUnderscoreToCamelCase" value="true" />
	</settings>
	<typeAliases>
		<typeAlias type="com.andy.mysite.entity.User" alias="User" />
	</typeAliases>

	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<!-- <dataSource type="JNDI"> <property name="data_source" value="${jndi_name}" 
				/> </dataSource> -->
			<dataSource type="POOLED">
				<property name="driver" value="oracle.jdbc.driver.OracleDriver" />
				<property name="url" value="jdbc:oracle:thin:@127.0.0.1:1521:XE" />
				<property name="username" value="WEB" />
				<property name="password" value="tiger" />
			</dataSource>
		</environment>
	</environments>
	<mappers>
		<mapper resource="mappers/UserMapper.xml" />
	</mappers>
</configuration>